/* custom.css */
.btn-success-custom {
  background-color: #28a745 !important;
  border-color: #269f42 !important;
  color: white !important;
}
.btn-success-custom:hover {
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}